*
!.gitignore
!.gitattributes
!bgm.mp3
!*.cmake
!*.md
!*.txt
!sdk/
!sdk/README.md
!src/
!src/**/
!src/**/*.cpp
!src/**/*.hpp
!build/
!build/*.sln
!build/*.vcxproj
!build/*.vcxproj.filters
!build/*.props
